@model BusinessLogic.ModelsDTO.EquationReportDTO

@{
    ViewBag.Title = "NewEquation";
}

<h2>NewEquation</h2>

<form method="post">
    <p>
        <label>User: </label>
        <input type="text" name="UserName" />
    <p>
        <label>Coefficient A: </label>
        <input type="text" name="FirstCoefficient" />
    <p>
        <label>Coefficient B: </label>
        <input type="text" name="SecondCoefficient" />
    <p>
        <label>Coefficient C: </label>
        <input type="text" name="ThirdCoefficient" />
    <p><button type="submit" value="Save">Submit</button>
</form>